@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }
}

.hamburger {
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger span {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transition: all 300ms;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(5px) translate(5px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(5px) translate(-5px);
}

#menu {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
}

#menu.open {
  opacity: 1;
  transform: scaleY(1);
}
