@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }
}

.hamburger {
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger span {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transition: all 300ms;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(5px) translate(5px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(5px) translate(-5px);
}

#menu {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
}

#menu.open {
  opacity: 1;
  transform: scaleY(1);
}

.hero {
  background-image: url(../img/pexels-gantas-vaičiulėnas-3713501.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  @apply w-1/3 bg-white drop-shadow-md min-w-[300px];
}
.card div.text-wrapper {
  @apply p-4;
}
.card h3 {
  @apply text-brown-800 text-xl mb-2;
}

.faq {
  @apply lg:w-4/5 mx-auto mt-2 pb-2 border-b-2 border-brown-800;
}

.faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.faq.active .answer {
  max-height: 300px;
}

.faq button {
  transition: transform 1s ease-in-out;
}

.faq.active button {
  transform: rotate(180deg);
}
